activator.bat
activator-launch-1.3.6.jar
*.conf
src/main/resources/application.conf
*.log
project/.sbtserver
*.class
project/target/config-classes/$91fb96be74c91c9588b1.cache
*.properties
project/target/resolution-cache/default/malbot-twitch-build/scala_2.10/sbt_0.13/0.1-SNAPSHOT/resolved.xml.xml
*.xml
project/project/target/config-classes/$3de2d570fc7207883f39.cache
*.cache
project/target/resolution-cache/reports/ivy-report.css
project/target/streams/$global/dependencyPositions/$global/streams/update_cache_2.10/input_dsp
*.sbt
project/target/streams/$global/update/$global/streams/update_cache_2.10/inputs
project/target/streams/$global/projectDescriptors/$global/streams/out
project/target/streams/compile/dependencyClasspath/$global/streams/export
*.conf
*.xsl
*.sbt
*.sbtserver
RUNNING_PID
*.css